name: Create branch with new env

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Edit env
        run: |
          touch .env-new
      - name: Commit and push changes
        run: |
          git config --global user.name "your username"
          git config --global user.email "your email"

          git add -A
          git checkout -b new-branch
          git commit -m "commit message"
          git push
      
